<!DOCTYPE html>
<html>
    <head>
        <title>SKKU talk</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='./css/friend_style.css') }}"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            var user_name = '{{ sender_name }}';
        </script>
        <script src="{{ url_for('static', path='./js/friend_func.js') }}"></script>
    </head>

    <body>
        <div class="big-container">
            <div class="container"></div>
        </div>
    </body>
</html>
