<!DOCTYPE html>
<html>
    <head>
        <title>SKKU talk</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/chatroom_style.css') }}"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', path='/chatroom_func.js') }}"></script>
    </head>

    <body>
        <div class="big-container">
            <div class="user-input">
                <input type="text" id="username" placeholder="Put User ID" />
                <button id="user_btn">Enter</button>
            </div>
            <div class="kakaotalk">
                <div class="container"></div>
                <textarea id="input"></textarea>
            </div>
            <button id="message_btn">Send</button>
        </div>
    </body>
</html>
