<html>
    <head>
        <title>SKKU talk login</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='/login_style.css') }}"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', path='/login_func.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <p id="title">SKKU talk</p>
            <div class="text">
                <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="id"
                />
                <input
                    type="text"
                    name="password"
                    id="password"
                    placeholder="password"
                />
            </div>
            <div class="button">
                <input type="button" id="btn_login" value="Login" />
                <input type="button" id="btn_sign_up" value="Sign up" />
            </div>
        </div>
    </body>
</html>
